[2019-07-08 05:27] krsnvijay opened #6 "Add upvote feature to learning path"
https://gist.github.com/krsnvijay/02209b327049de5f1c2f62c63db8e3f9

This is the current graphql Schema, which is currently deployed on aws appsync

[2019-07-08 05:28] krsnvijay opened #7 "Add followers/following feature to Users schema"
https://gist.github.com/krsnvijay/02209b327049de5f1c2f62c63db8e3f9

[2019-07-08 05:29] krsnvijay opened #8 "Implement Auth flow"

[2019-07-17 14:47] krsnvijay commented on #7
Added in https://github.com/fnplus/footsteps-app/commit/32808f320aae6c673d990bd4b759d4525c368a8a

[2019-07-17 14:47] #7 closed

[2019-07-17 14:48] krsnvijay commented on #6
Added in https://github.com/fnplus/footsteps-app/commit/32808f320aae6c673d990bd4b759d4525c368a8a

[2019-07-17 14:48] #6 closed

[2019-07-20 15:15] R3l3ntl3ss opened #11 "Implement Proper Search Query"
Need to implement the right Graphql query to search through all the learning paths and footsteps. Right now I am using the contains clause but it requires the user to be very specific with the keyword or else it doesn't work.

Do we need to create a [custom function](https://docs.hasura.io/1.0/graphql/manual/queries/custom-functions.html)?

[2019-07-20 17:40] R3l3ntl3ss opened #12 "ReferanceError while building"
The following error occurs while running `gatsby build`. The issue is most probably associated with the firebase module.

https://github.com/gatsbyjs/gatsby/issues/10457#issuecomment-496377887

[code]

[2019-07-20 23:15] krsnvijay commented on #11
https://docs.hasura.io/1.0/graphql/manual/queries/query-filters.html

Use _like for string pattern matching similar to SQL

[2019-07-21 04:18] R3l3ntl3ss commented on #11
Cool! I used "%query%" and _ilike and it works great.

[2019-07-21 04:18] #11 closed

[2019-07-21 13:12] R3l3ntl3ss commented on #12
The issue was due to the large bundle size of firebase.  By using only the necessary modules the error was fixed.

[2019-07-21 13:12] #12 closed

[2019-08-02 12:16] #8 closed

[2019-08-02 12:16] R3l3ntl3ss opened #13 "Add new Resource UI"

[2019-08-16 07:07] R3l3ntl3ss commented on #13
Added in https://github.com/fnplus/footsteps-app/commit/67c6e25858973fe07b7dbc8cc11abbd631aa0702

[2019-08-16 07:07] #13 closed

[2019-10-01 05:47] R3l3ntl3ss opened #15 "Implement Follow Path Feature"
Add ability for the user to follow a particular path and the followed paths should be available on their profile.

[2019-10-01 05:48] R3l3ntl3ss opened #16 "Add ability to make paths private"
The feature should be available while creating as well as editing the path.

[2019-10-01 05:56] R3l3ntl3ss opened #17 "Add ability to update the progress of a following path"

[2019-10-02 14:18] R3l3ntl3ss opened #18 "Make user data global state"

[2019-10-02 16:09] #18 closed

[2019-10-02 16:13] R3l3ntl3ss opened #19 "Convert all components to use the context api data"
User data has been added to the context API. Many existing components are making requests to the server in order to get this data. Need to update these components to use the context API data instead.

[2019-11-29 05:10] xlogix opened #20 "Add ability to Upvote for a learning path"
The UI should have an option to upvote a learning path. This will help us in giving good recommendations

[2019-12-12 12:30] R3l3ntl3ss opened #21 "Add Google Analytics to Search Page to find most requested topics"

[2019-12-15 17:49] surapuramakhil opened #22 "Why Sign In Made Mandatory ---"
why this app/web make sign in compulsory?

it will cause privacy concerns of activity tracking. If they don't require to.

PS: most people won't like to try due to privacy concerns. Just a bit of Advice of what i feel.

[2019-12-16 05:46] xlogix commented on #22
Hi Akhil, sign-in is necessary to upvote/share your own learning paths. A crowdsourced app does need individuals to confirm their identity. Also, we're asking the most basic form of authentication. It isn't anything more than your name and email-id.

[2019-12-16 20:03] Adnank122 opened #23 "Add a contribution guidelines"
Hi,
I would like to propose that a contribution guidelines document should be added to the repo to make it easy for the contributors like me to get started with the projects. What I'm proposing is a standard way of making PRs, branch naming, commit messages and anything else that I might be missing.

I was searching around and I found this [guide](https://github.com/ahmadawais/Emoji-Log/blob/maste

[2019-12-16 20:05] Adnank122 commented on #19
If anybody else isn't currently working on this, I would like to start working on this feature. Any guidelines in this regard would be highly appreciated!

[2019-12-17 01:58] #22 closed

[2019-12-17 13:29] xlogix commented on #15
We could also track the current progress of a learning path and show relevant footsteps in the home page.

[2019-12-18 03:23] xlogix commented on #21
We're getting the info we need on the analytics page. Maybe we can add a trending tab where we can show the latest searches.

[2019-12-18 03:35] xlogix commented on #23
We can go with the standard guidelines like making a new branch while proposing a new feature, we can add a checklist related to the pull request etc.

[2019-12-24 08:28] xlogix opened #24 "Add a consistent search bar in the app"
We can improve the experience of the search by keeping the search bar at the top available for the user anytime. The search results can come below it.

[2019-12-24 08:28] xlogix commented on #24
@R3l3ntl3ss  Thoughts?

[2019-12-24 08:31] xlogix opened #25 "Modify the Home Page"
The home page of the app can be modified to include the learning paths which the user has subscribed to/starred/active on. It can also include recommendations for other paths based on user's preferences/active learning paths.

This would work well with the search bar moved to the top. See issue #24

[2020-01-08 12:53] imabhishekkumar opened #26 "Add ability to edit/delete the footstep I created."

[2020-01-08 14:06] xlogix commented on #26
Hi Abhishek, thanks for reaching out.  Have you visited the profile page? You can edit/delete your footsteps from there! Try it out.

[2020-01-08 14:09] imabhishekkumar commented on #26
Oh, I didn't see that.

[2020-01-08 14:09] #26 closed

[2020-02-24 12:10] abhinashgiri commented on #23
May I work on this as part of GSSOC 20?

[2020-02-24 15:36] xlogix commented on #23
Sure! Go ahead

[2020-02-27 18:09] abhinashgiri commented on #23
Sir, please assign it to me.

[2020-02-28 01:43] xlogix commented on #23
Assigned!

[2020-02-29 20:04] NVS16 commented on #20
Can I work on this as a part of GsSoc 2020?

[2020-03-01 03:30] xlogix opened #47 "Add Style Guide for Best Practices, Coding Guidelines"

[2020-03-01 03:50] xlogix opened #48 "Add a landing page for the App"
The contributor should be able to able to put together a landing page that can show the why & how of the problem we're solving to people. It's crucial that the page looks engaging and follows good UX practices.

[2020-03-01 03:58] xlogix opened #49 "Need a 60-90s video highlighting the use-cases with a walkthrough of the app"
The video should preferably be a 60-90 second video explaining the app with a story. To help get started, I've laid down my ideas in this Google Doc. You're welcome to work on this or start something on your own.

https://docs.google.com/document/d/1w_WpiuF1sFMvLLBa6QvZ4Tu4vsf61uyyq_zSGCrikZA/edit?usp=sharing

[2020-03-01 04:14] annu12340 commented on #48
Hi @xlogix
So, according to this issue, you would like to add a new landing page in footsteps site telling the users what footsteps is, and how the site would help them out. Am I right?

[2020-03-01 04:18] annu12340 commented on #24
Is it like adding a search bar on the navbar, so that is available all the time

[2020-03-01 04:18] xlogix commented on #48
Yes, you're right.

[2020-03-01 04:24] xlogix commented on #24
The search bar should be able to get the most popular (most starred) results from the db and show it in a list for the user to select.

[2020-03-01 04:33] annu12340 commented on #48
I would like to work on it

[2020-03-01 04:34] xlogix commented on #48
Assigned!

[2020-03-01 04:36] UddeshJain commented on #19
I would like to work on this issue. Please assign me this.

[2020-03-01 04:53] xlogix commented on #19
Assigned!

[2020-03-01 05:04] huonggiangbui commented on #47
I am interested in this issue. Can you @xlogix  tell me more specific description about what I have to do and what expected to be? Thanks!

[2020-03-01 05:05] huonggiangbui commented on #21
Hi, I am interested in this issue. Can I take this?

[2020-03-01 05:06] huonggiangbui commented on #20
I am interested in this issue. Can I take this?

[2020-03-01 05:10] xlogix commented on #20
Assigned!

[2020-03-01 05:14] xlogix commented on #21
Assigned!

[2020-03-01 05:19] huonggiangbui commented on #17
I dont fully understand what you expected and what I have to do. Can anyone explain it to me?

[2020-03-01 05:20] huonggiangbui commented on #25
I am interested in this issue and want to give it a try with your help. Can you assign it to me?

[2020-03-01 05:21] R3l3ntl3ss opened #50 "Fix Type Error while loading User Public Page"
There is a Type Error while loading the user's Public Page at `https://footsteps.dev/user/<username>`
Example [https://footsteps.dev/user/dev](https://footsteps.dev/user/dev)

![Screenshot from 2020-03-01 10-46-50](https://user-images.githubusercontent.com/23451923/75620114-945e5700-5baa-11ea-9035-4e68089173d5.png)

[2020-03-01 05:24] xlogix commented on #47
@huonggiangbui We want to add issue templates, PR templates & style guides for the code.
Check out Oppia project for reference. https://github.com/oppia/oppia/

[2020-03-01 05:25] xlogix commented on #25
Assigned!

[2020-03-01 05:26] R3l3ntl3ss opened #51 "Create consistent UI for Learning path using a single component"

[2020-03-01 05:27] #23 closed

[2020-03-01 05:33] xlogix commented on #17
Refer to this UI here: https://xd.adobe.com/view/276c38e2-f67d-4eab-4cda-60749cbc9244-515d/

We want to add a progress bar to a path to enhance the user experience.

[2020-03-01 05:37] xlogix opened #52 "Add 'Mark as Done' icon on a Footstep"
We're working on adding a progress bar on a learning path. A progress bar can only 'progress' if the user is able to select the Footstep(s) and mark them as 'done'.

Refer to issue #17

[2020-03-01 05:42] Samriddhi25 commented on #52
I would like to take this task

[2020-03-01 05:59] R3l3ntl3ss opened #53 "The footer disappears once the user logs in"
![Footsteps   Community-made 🧑_🤝_🧑learning paths](https://user-images.githubusercontent.com/23451923/75620458-49930e00-5baf-11ea-8dac-cd1a22f0dc31.png)

[2020-03-01 06:23] suraj111999 commented on #48
Sir I would like to work on it

[2020-03-01 06:29] UddeshJain commented on #19
Thanks for assigning to me. I'm working on it.

[2020-03-01 06:49] xlogix commented on #48
Sure, you guys can collaborate together!

[2020-03-01 06:53] Schitiz commented on #24
I would like to take this issue.

[2020-03-01 06:54] suraj111999 commented on #48
Thanks

[2020-03-01 06:55] xlogix commented on #24
Added!

[2020-03-01 07:02] prajwal714 commented on #53
I would like to work on this issue for GSSOC'20

[2020-03-01 07:06] xlogix commented on #53
That is by design! I removed the component after the user logs in. That is not to say that we don't need the footer... But at its current state, we can something more with the footer instead of just showing thee privacy policy and terms of service.

[2020-03-01 07:07] xlogix commented on #53
@prajwal714 Sorry but can you take up any other issue? Feel free to add more issues if you catch any bugs/features.

[2020-03-01 07:07] #53 closed

[2020-03-01 07:25] NVS16 opened #54 "Add feature of choosing a learning path for a student"
A student should be able to choose a learning path according to his/her choices.
To be done after DB and UI are finalized.

[2020-03-01 07:31] prajwal714 opened #55 "Case Insensitive Searching issue"
If I search a path 'React' it shows me the results, but in case of all small case it return nothing.

![Screenshot from 2020-03-01 12-54-52](https://user-images.githubusercontent.com/30700921/75621622-afd25d80-5bbc-11ea-98e1-915d05887afe.png)
![Screenshot from 2020-03-01 12-55-13](https://user-images.githubusercontent.com/30700921/75621645-e019fc00-5bbc-11ea-926c-81493646326f.png)

[2020-03-01 07:43] xlogix commented on #55
Thanks for reporting this issue @prajwal714!

[2020-03-01 07:57] prajwal714 commented on #55
I'll be working of this issue.

[2020-03-01 08:00] prajwal714 opened #56 "Design a new 404 Page"
![Screenshot from 2020-03-01 13-28-43](https://user-images.githubusercontent.com/30700921/75621934-bd89e200-5bc0-11ea-8f39-e298b075cdf7.png)

[2020-03-01 08:46] xlogix commented on #56
It does exist! You can try pinging the same URL on the main website. The page you're seeing is the default 404 page.

But you can help out in designing a new interactive 404 page. Checkout Dribble for inspirations.

[2020-03-01 08:46] xlogix commented on #56
Let me know if you're up for designing a better 404 page.

[2020-03-01 09:19] prajwal714 commented on #56
Yeah Sure I'll design it.

[2020-03-01 09:34] prajwal714 commented on #50
I would like to take this issue.

[2020-03-01 11:50] xlogix commented on #56
Assigned!

[2020-03-01 12:01] xlogix commented on #50
Assigned!

[2020-03-01 14:28] sonali623 opened #58 "Feature to Save Learning Path"
Add a feature to save or archive a learning path for future reference.

[2020-03-01 15:18] xlogix commented on #58
Welcome to the community! And, thanks for putting up this issue. We've thought about adding this and come up with a forking-like button on the learning path. Once the user forks the path, it is added to his/her profile for future reference. They can edit the path too! I'm attaching a screenshot from the Adobe XD file. I would love your suggestions on this.

<img width="1267" alt="Screenshot 2020-0

[2020-03-01 15:23] xlogix opened #59 "What do you think of the name? Shall we call the app by some other name? Add your suggestions here!"
I know a good name can make the product be memorable with people. I named the app footsteps because that's what I thought resonated well with the idea. But, I think maybe the name of this app can be something easy & clever to remember by. We're open to suggestions!

[2020-03-01 16:04] VibavariG commented on #59
Footfall

[2020-03-01 16:06] prajwal714 commented on #16
Can you please describe the feature briefly @R3l3ntl3ss @xlogix . Thanks

[2020-03-01 20:03] shwhite17 commented on #59
please , can you assign this issue to me ?

[2020-03-01 20:42] shwhite17 commented on #59
will you please assign it to me, i wanna contribute on it?

[2020-03-01 20:42] shwhite17 commented on #59
but where i give my suggestion to you?

[2020-03-01 20:55] shwhite17 commented on #59
i am excited to share my app name suggestion , but do not know where i upload my name suggetion , will you please tell me?

[2020-03-02 00:37] xlogix commented on #59
@shwhite17 You can post your suggestion here! The best suggestion (according to the number of likes and internal discussions) will receive the points!

[2020-03-02 00:47] xlogix commented on #16
@prajwal714 So, we want the users to have the ability to keep their learning paths private if needed. The user can make the path private by a 'switch' on the learning path itself and the path along with thee 'footsteps' would not be visible in search results and the user's public profile.

[2020-03-02 03:54] shwhite17 commented on #59
I am glad to contributing this project,
As the project is related to  teaching and step towards learning. Thus, best word for app-name is "TeachStep".

[2020-03-02 04:43] prajwal714 commented on #59
How about 'Tech-Step', a step towards technology.

[2020-03-02 05:30] R3l3ntl3ss opened #61 "Learning Paths are not showing up on the User's Public Page"
The Public profile of the user needs to show the learning paths that they have created. Right now it only shows their profile info.

[2020-03-02 06:00] #50 closed

[2020-03-02 06:12] prajwal714 commented on #61
I'll work on this issue @R3l3ntl3ss

[2020-03-02 06:21] xlogix commented on #61
I thought these were showing on the public profile @prajwal714

[2020-03-02 06:24] prajwal714 commented on #61
only the number of learning paths is shown.

[2020-03-02 06:28] prajwal714 commented on #16
okay sure @xlogix I'll work on this and get back to you in case of queries.

[2020-03-02 06:53] xlogix commented on #61
That I could see in the screenshot. I was asking about the paths themselves. Anyways, go ahead with this.

[2020-03-02 07:06] shwhite17 commented on #59
Yup good but I think it teaches us thus
"TeachStep" is good .

On Mon, 2 Mar 2020, 10:13 am Prajwal Singh, <notifications@github.com>
wrote:

[2020-03-02 07:37] tarun-nagpal-github commented on #47
@xlogix

I have added the react style guide in the Wiki Page.

People can follow that to write better code into React. Below is the link as well.

https://github.com/airbnb/javascript/tree/master/react

[2020-03-02 07:42] xlogix commented on #47
Hey Tarun, thanks for linking the guidelines but I think we should directly add a page with the guidelines and add a source link at the bottom.

Also, did you take a look at issue templates? Or Pull request templates? We could add those too

[2020-03-02 07:53] #55 closed

[2020-03-02 07:53] prajwal714 commented on #55
The issue was limited to my system. @xlogix kindly close this issue.

[2020-03-02 08:13] prajwal714 commented on #61
Created a new component for Public Page Paths, fixed some CSS issues. It's working fine now.
![Screenshot from 2020-03-02 13-36-42](https://user-images.githubusercontent.com/30700921/75656998-40776f00-5c8b-11ea-8086-3fde0309e289.png)
![Screenshot from 2020-03-02 13-36-59](https://user-images.githubusercontent.com/30700921/75657045-5a18b680-5c8b-11ea-8190-8414616b29a8.png)
PS: can you label the bug

[2020-03-02 08:17] xlogix commented on #61
Sure, I will update the label. But, can you make sure to only show paths which don't have 'isPrivate' flag in them? Let me know if it's possible for you.

[2020-03-02 08:25] prajwal714 commented on #61
Yes i am working on that as of now. the idea is to add a field isPrivate and set it while creating a new path, the paths with the field true will be filtered out in case of any query or searching and will we only visible to the creator. Let me know if the idea is feasible.

[2020-03-02 09:04] xlogix commented on #61
Yeah, just add the field of the DB and make sure you're checking the field value while displaying the paths. We can work on adding a switch button or something else in the UI (while creating a new path) in another pull request.

[2020-03-02 12:37] sanchibansal340 commented on #49
What medium do you want this video to be made on?

[2020-03-02 12:41] sanchibansal340 commented on #15
Can you please let me know what skillset is required to solve this issue?

[2020-03-02 13:17] shwhite17 commented on #59
As it teaches to learners step-by-step, app-name can be-
 " Teach-Steps "

[2020-03-02 13:23] xlogix commented on #49
You're welcome to choose whatever seems easy. I only care about the final video!

[2020-03-03 09:17] tarun-nagpal-github commented on #47
Sure @xlogix , I will create a page for the guidelines.

I am working on the other two.

[2020-03-03 10:00] xlogix commented on #52
Assigned!

[2020-03-03 11:00] siddhishree commented on #48
Hey, I would love to contribute to this issue.

[2020-03-03 11:31] xlogix commented on #48
Go ahead. Max = 3 for this issue.

[2020-03-03 13:47] xlogix opened #63 "Add a progress bar in profile page to encourage completion of profile fields"
We want users to complete their profile by adding their skills and social links. This helps in creating trust in the network and also helps people to discover new users. But, we don't want to keep the profile input fields to be mandatory on signup. This will be a bad user experience and many people will quit.

Instead, we'll be using Game Design to encourage users to complete their profiles after

[2020-03-03 14:03] xlogix opened #64 "Link 'Learning Path' author to his public profile page in search results"
We recently added the ability to view the public profile of a user. All public user profiles are now visible at https://www.footsteps.dev/user/<your-username>. Now we want to link the public profile in the search results page so anyone can discover other learning paths by the same user.

Example Link: https://www.footsteps.dev/user/abhi
<img width="235" alt="Screenshot 2020-03-03 at 7 31 33 PM" sr

[2020-03-03 14:18] xlogix opened #65 "Fix SEO of the publicProfile page"
The Search Engine Optimisation for the public profile page needs to be updated. Apart from adding usual UTF tags, favicons, etc. The title and description of the page should be dynamic. For example, the title can be: "Walk in the footsteps of {FirstName}'" The description can be: "{FirstName} has made learning paths using FootstepsApp. Follow {FirstName} and learn the way he recommends it"

It is

[2020-03-03 14:21] prajwal714 commented on #16
Added the Private Switch in both add and Edit pages, updated the location, also updated the queries (Added the field isPrivate) Kindly review @xlogix @R3l3ntl3ss . Thanks
![Screenshot from 2020-03-03 19-47-23](https://user-images.githubusercontent.com/30700921/75784467-3b4c1a00-5d88-11ea-8a14-cd7cb2267eeb.png)
![Screenshot from 2020-03-03 19-47-42](https://user-images.githubusercontent.com/3070092

[2020-03-03 14:24] prajwal714 commented on #61
We can close the issue as of now. @xlogix

[2020-03-03 14:31] xlogix opened #67 "Make the app usable without logging in. Reserve some features for logged-in users"
So, we started working on the app with a signup & login screen as I wanted to keep it exclusive to Fnplus community members. But, now the plan is to make the app available for all. In order to that, we need to remove the signup screen from the app and keep it optional.
A user should be able to search for learning paths in the app but any other functionality like browsing user profiles, forking a l

[2020-03-03 14:32] prajwal714 opened #68 "Code Refactoring required in several files"
Make separate stateless/stateful function modules for frequently used React components. Separate JS file for validation function, also unified naming conventions of all the CSS files imported.
Components/Create/addPaths.js
Components/EditPath/editPath.js
etc

[2020-03-03 14:35] #61 closed

[2020-03-03 14:35] xlogix commented on #61
Yup! Closed.

[2020-03-03 14:37] xlogix commented on #16
There's some padding on the left side of the Private Label. Can it be aligned?

It's my OCD.

[2020-03-03 14:42] prajwal714 commented on #16
Done!!

[2020-03-03 14:47] prajwal714 commented on #63
I can work on this one @xlogix . Assign me this. Thanks.

[2020-03-03 14:48] prajwal714 commented on #56
Anyone else who is interested in this issue can work.

[2020-03-03 14:49] prajwal714 commented on #51
I'll work on this. @R3l3ntl3ss . Assign me this.

[2020-03-03 14:57] xlogix commented on #63
Assigned! Also, do add checks for valid URL links and such.

[2020-03-03 15:00] xlogix commented on #51
Shall we wait for the new design to be finalized?

[2020-03-03 16:36] #16 closed

[2020-03-03 17:50] imrishabh18 commented on #64
Hey, I want to work on this issue.

[2020-03-03 19:00] FrozenGirl-spd commented on #56
I would like to work on this issue. Can i please?

[2020-03-04 01:06] xlogix commented on #56
Assigned!

[2020-03-04 01:08] xlogix commented on #64
Assigned!

[2020-03-04 04:19] beingKHUSH commented on #67
I want to work on this

[2020-03-04 04:34] xlogix commented on #67
Assigned!

[2020-03-04 11:23] PSpooja commented on #56
I want to work in this issue. Please assign me

[2020-03-04 11:52] vngarg commented on #68
I can work on this ....
I have some doubts -
1. All the links also need to be changed, as the location of .js files and naming convention of .css files changes ?
2. I can't understand the last point of changing naming conventions ?

[2020-03-04 12:30] prajwal714 commented on #68
The same css file is imported with different names, userStyles, styles etc in different js components. Unify them to a single name.

[2020-03-04 12:38] vngarg commented on #68
ok ..
Do I have to change the links also ?

[2020-03-04 12:48] prajwal714 commented on #68
Yes. Change the links too, make sure to find redundancy in other files too.

[2020-03-04 13:13] prajwal714 commented on #15
Can you brief the steps required to implement this feature. I would need some help writing the GraphQL queries.
My Idea is that when the user follows a path, The Path ID will be added to followed_Paths array of the user. Using them we can show the followed paths on their profile.

[2020-03-04 13:50] xlogix commented on #15
Yeah, a follow path is basically like the 'watch' feature in Github. We want to show the followed paths on profile and also want to show updates on the path (by the original creator) on the feed page.

[2020-03-04 14:00] sanchibansal340 commented on #49
I have some doubts about this issue can you help me?

[2020-03-04 14:04] prajwal714 commented on #15
Assign the task to me. @xlogix

[2020-03-04 14:06] xlogix commented on #49
@sanchibansal340 Sure, happy to. Ping me on Slack or call me.

[2020-03-04 14:14] prajwal714 opened #69 "Add a Notification Bar instead of Alert Popup on succesfully editing, creating something."
![Screenshot from 2020-03-04 19-42-37](https://user-images.githubusercontent.com/30700921/75887878-79147580-5e50-11ea-8846-c48e2685eaf9.png)

[2020-03-04 14:14] prajwal714 commented on #69
I'll work on this one.

[2020-03-04 14:21] xlogix commented on #69
Good Thought! This needs to be done. A better way may be an animation of a 'check' icon in the middle.  Like a big green tick. See some other ideas on Dribble and such.

[2020-03-04 14:23] Yashank18 opened #70 "Splash Screen for Flutter App"
I will like to start working on a flutter app with the splash screen.
@xlogix

[2020-03-04 14:26] xlogix commented on #70
Can we add issues related to Flutter App in the Flutter repo? I'll talk to the organizers to add the repo in the point tracking system.

[2020-03-04 14:27] Yashank18 commented on #70
Okay Sure

[2020-03-04 14:34] xlogix commented on #70
https://github.com/fnplus/footsteps-flutter-app

[2020-03-04 14:34] xlogix commented on #70
You can add the initial codebase right now. I've messaged the GSSoC team

[2020-03-04 14:35] #70 closed

[2020-03-04 15:15] sanchibansal340 commented on #49
I am interested in working on this issue. Can you please assign it to me?

[2020-03-04 15:20] xlogix commented on #49
Assigned!

[2020-03-04 15:36] prajwal714 commented on #63
We Can check for valid URL links in the settings page itself, when a user enters his/her link. We can create a seperate issue of this.

[2020-03-04 16:04] xlogix commented on #63
Okay, sure. Add it

[2020-03-04 16:09] prajwal714 opened #71 "Write a Validator function to validate the Github, Linked, facebook links"
Currently the links entered aren't verified if they exist or not. Write a Validator function and in the settings Page check whenever a person enters his/her Social Media link.

[2020-03-04 16:18] prajwal714 commented on #63
I am having issue with the Responsive Progress Bar. I have added the Antd Steps component, but It isn't responding to the window size. I tried adding rules based on screen size but they aren't affecting. can you look into this? Thanks.

[2020-03-04 16:27] xlogix commented on #63
I think @R3l3ntl3ss can help out with this.
@prajwal714 Make sure the progress bar comes on the profile screen as a popup or comes at the top somewhere where it will redirect to the settings screen. The progress bar should update as the user enters the profile fields.

[2020-03-04 16:28] prajwal714 commented on #63
![Screenshot from 2020-03-04 21-48-01](https://user-images.githubusercontent.com/30700921/75900652-3c05ae80-5e63-11ea-922f-63d4e01e76dc.png)
Currently it looks like this on the profile page.

[2020-03-04 16:33] imrishabh18 commented on #71
Hey, assign me this issue i can work on this.

[2020-03-04 16:34] ashishnagpal2498 commented on #71
I would like to work on this issue.

[2020-03-04 16:38] xlogix commented on #71
Assigning it to Rishabh as he requested first. Hope you understand @ashishnagpal2498

[2020-03-04 19:24] xlogix opened #72 "Add autocomplete to the search bar"
The search bar should show a drop-down list of results related to the query.
We should be able to improve the search suggestions based on other queries submitted to the app. We can also keep a word-list of popular keywords for auto-complete.

Feel free to put your ideas/suggestions here.

[2020-03-04 19:30] xlogix opened #73 "Add Placeholders using Shimmers to the app while data is loading"
You can use [this](https://www.npmjs.com/package/react-shimmer-effect) or something else to achieve the effect

[2020-03-04 20:00] xlogix opened #74 "Add a button/lcon to preview the public profile from profile page"
The public profile page is visible at https://www.footsteps.dev/user/user-name

[2020-03-05 04:20] dipanshuraz commented on #56
I have a design for  404 page,  assign me for this issue @xlogix

[2020-03-05 10:35] SubCoder1 commented on #74
I am interested to take up this issue @xlogix

[2020-03-05 10:37] xlogix commented on #74
Assigned!

[2020-03-05 14:27] praveenscience commented on #56
Reassigning this to @PSpooja...

[2020-03-05 15:02] FrozenGirl-spd commented on #56
I have worked on the issue. I have created a PR.
404page added #76
Please review it mentors.
@xlogix  @praveenscience

[2020-03-05 15:40] praveenscience commented on #56
@FrozenGirl-spd Left some review comments. I am not sure if that works, I am sorry. You need to update your Gatsby and make sure a URL like https://deploy-preview-76--footsteps-app.netlify.com/dlskjfsdlkfj has your screen.

[2020-03-05 15:40] praveenscience commented on #48
@PSpooja I am not able to assign this to you.

[2020-03-05 17:04] PSpooja commented on #48
I am taking this issue

[2020-03-05 17:06] praveenscience commented on #48
Great, assigned. @PSpooja and @suraj111999 Please work together on this and let's see some magical landing page! 🤘🏻

[2020-03-05 17:06] siddhishree commented on #48
@praveenscience @PSpooja I think there is some miscommunication as I was supposed to be working on this

[2020-03-05 17:06] praveenscience commented on #48
@suraj111999 What's happening?

[2020-03-05 17:07] praveenscience commented on #48
@siddhishree Let's talk with @suraj111999 in the channel.

[2020-03-05 20:24] imrishabh18 opened #79 "Adding regex for the text fields in the signup page."

[2020-03-05 20:25] imrishabh18 commented on #79
Working on this.

[2020-03-05 20:38] imgeekrahul commented on #72
can you please assign me this issue i.e., issues #72. As soon as possible, i'll clear out this issue.

[2020-03-06 04:40] xlogix commented on #72
Assigned!

[2020-03-06 11:45] prajwal714 commented on #63
@xlogix @R3l3ntl3ss does the progress bar look okay?

[2020-03-06 12:19] xlogix commented on #63
My suggestion would be to make the progress bar thicker & include a gradient in the bar to show progress. Maybe, a color shift from blue to green... [Like this](https://www.youtube.com/watch?v=OklPpzVS808). Also, add a tick mark at the current level. This would be better UX

[2020-03-06 12:28] xlogix commented on #48
Whoever is still interested to work on this issue, please reply here within the next 24 hours. I only wanted to assign a maximum of three people to this issue.

[2020-03-06 12:29] siddhishree commented on #48
Working on it.

[2020-03-06 12:35] PSpooja commented on #56
![Screenshot from 2020-03-03 03-04-00](https://user-images.githubusercontent.com/20374176/76084015-f9fc7a00-5fd4-11ea-8dec-63591a466425.png)

[2020-03-06 12:37] PSpooja commented on #56
@xlogix  and @praveenscience , this design is okay or not?

[2020-03-06 12:40] xlogix commented on #56
It looks good Pooja! My suggestion would be to pick something that shows people/path not found as this would resonate with the project and provide a better UX

[2020-03-06 12:43] PSpooja commented on #56
okay @xlogix

[2020-03-06 12:53] xlogix commented on #56
@PSpooja Take a look at these: [Webro](https://woobro.design/browse) and [Icons8](https://icons8.com/ouch/subject/page-not-found-1)

[2020-03-06 12:58] PSpooja commented on #56
Yeah i was searching something like this :) thanks @xlogix

[2020-03-06 17:21] abha11 commented on #48
Hey, I would like to work on this issue.

[2020-03-07 10:49] prajwal714 commented on #63
![Screenshot from 2020-03-07 16-18-52](https://user-images.githubusercontent.com/30700921/76142006-5d4ae280-608f-11ea-9cd2-b0d4f9982ad2.png)
![Screenshot from 2020-03-07 16-18-37](https://user-images.githubusercontent.com/30700921/76142008-63d95a00-608f-11ea-9b8d-ad226f6b1025.png)
Done. Looks better, Thanks @xlogix . Kindly review and suggest changes if any.

[2020-03-07 11:02] xlogix commented on #63
Yup, definitely looking better. One suggestion would be to not keep a list below the progress bar. Instead, put the checkmark on top of the progress bar at equally spaced positions and put the descriptions below it. On mobile, maybe only show checkmarks as it's taking too much space!

[2020-03-07 11:58] Xtremilicious commented on #65
Would like to work on this!

[2020-03-07 12:01] xlogix commented on #65
Assigned!

[2020-03-07 13:51] maxloh opened #83 "The website not working after login with github"
The page become blank after a few seconds and the following error message is printed to the console

[code]

![image](https://user-images.githubusercontent.com/35831069/76144642-81251d00-60bd-11ea-9ff5-47be4994d6b5.png)

[2020-03-07 14:26] prajwal714 commented on #63
The description below the progress bar and Checkmark above it won't be possible since they both are separate components in Antd, that level of customization isn't available. From mobile I have removed the progress bar though, @xlogix

[2020-03-07 15:23] xlogix commented on #83
I just tested it now. It seems to be working fine on my end. Can you try once again? Maybe it was a one-time error.

[2020-03-07 15:33] xlogix commented on #63
Maybe try making a bootstrap based component and import it? We're thinking of slowly transitioning to a different framework like Bootstrap, Bulma or Foundation. Which one are you most comfortable with?

[2020-03-07 16:50] maxloh commented on #83
No. The bug still exists.

Tried to open the website in Chrome 80.0.3987.132 and Chrome Dev 82.0.4077.0 with all extensions disabled, no luck.

[2020-03-07 17:10] xlogix commented on #83
Oh? Can you share your email-id? You can mail me here: abhishekuniyal09@gmail.com

[2020-03-07 17:11] xlogix commented on #83
@R3l3ntl3ss @praveenscience Can you guys check this out?

[2020-03-07 17:17] maxloh commented on #83
I am logging in with this GitHub account.

Are you meaning the email associated with this GitHub account?

[2020-03-08 05:32] greenkeeper[bot] opened #85 "⚠️ Greenkeeper is no longer available for new installations"
Hello!

**Greenkeeper is no longer available for new installations.**

The service will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020. [Find out more at greenkeeper.io](https://greenkeeper.io).

If this is your only Greenkeeper installation, you can just [sign up for Snyk directly](https://snyk.io), it’s free for Open Source even has free features for private projects as well

[2020-03-08 05:47] #85 closed

[2020-03-08 05:57] xlogix commented on #83
Yes, the email associated with that account.

It's weird that it's happening with that specific account. Let me try upgrading Firebase as well.

[2020-03-08 06:19] xlogix opened #86 "Migrate 'react-tag-input' dependency to 'react-tag-autocomplete' & add basic autocomplete suggestions"
React Tag Input dependency is used in the on-boarding process of the app when the user enters his/her skills. This process can take a while since there are no auto-complete suggestions in the tags. We should add basic complete options for skills.

Link to the package: https://www.npmjs.com/package/react-tag-autocomplete

Make sure to remove peer dependencies of react-tag-input as well.

[2020-03-08 06:39] imrishabh18 commented on #86
Hey, i will work on this

[2020-03-08 07:03] xlogix commented on #86
Assigned!

[2020-03-08 11:18] carrisunrio commented on #73
Hello, can I try working on this issue?

[2020-03-08 11:19] carrisunrio commented on #47
Is this issue assigned to someone, or can I work on it?

[2020-03-08 15:06] xlogix commented on #83
Hey, I've upgraded the dependencies. Try it now

[2020-03-08 15:13] xlogix commented on #47
@carrisunrio Go ahead!

[2020-03-08 15:13] xlogix commented on #73
Sure.

[2020-03-08 15:56] praveenscience commented on #83
I'll take this up and try to find a fix.

[2020-03-08 15:59] praveenscience commented on #79
@imrishabh18 The GitHub or Twitter URLs do not allow me if I have a valid account with `_` character. For example: https://twitter.com/hello_world is a valid twitter account and it's not accepting.

[2020-03-08 16:01] praveenscience opened #88 "Fix controlled components on Sign Up screen"
When you try to sign up for the first time by giving the first name and last name, here's what is happening.

![image](https://user-images.githubusercontent.com/1830380/76166381-00662f80-6156-11ea-8ff3-9f5de67efff1.png)

[2020-03-08 16:03] xlogix commented on #79
Yes! Mentioned the correct regex to use [here](https://github.com/fnplus/footsteps-app/pull/78)

[2020-03-08 16:36] carrisunrio commented on #73
Thank you, I will start.

[2020-03-09 02:19] xlogix commented on #83
@maxloh The bug seems to be because of 'none' value in the user's name. So, it's probably happening because you may have an empty value for name.
<img width="785" alt="Screenshot 2020-03-09 at 7 40 35 AM" src="https://user-images.githubusercontent.com/16256275/76177227-8b3c3e00-61d9-11ea-9cea-45f518466bc1.png">

[2020-03-09 03:52] maxloh commented on #83
Yap. I can confirm that I did not set a full name for this GitHub account.

But after I set a full name, revoke Footsteps App's OAuth access, authorize it again, and try to login in a incognito window, the bug still exists.

[2020-03-09 07:38] prajwal714 commented on #63
I am comfortable with bootstrap, transitioning as in rewriting all the components in bootstrap instead of Antd?? @xlogix

[2020-03-09 08:14] xlogix commented on #63
Yeah, we can slowly transition on a use-case basis. We're doing this to build more complex UIs in the future.

[2020-03-09 11:42] GianCastle commented on #88
Hi,

Can I take this issue?

[2020-03-09 12:07] xlogix commented on #83
Let me try removing the user from Firebase as well. Can you mail or paste your Github account email-id?

[2020-03-09 12:46] maxloh commented on #83
Thx. I have emailed you the email addresses associated with my account.

The email title was "Email address for GitHub issue #83".

[2020-03-10 03:28] xlogix commented on #88
@praveenscience working on it?

[2020-03-10 05:55] sohampods commented on #63
Is this thread done now?

[2020-03-10 06:48] xlogix commented on #63
@prajwal714 Are you still working on it? Let me know

[2020-03-10 10:25] imrishabh18 commented on #86
@xlogix I have added the react-tag-autocomplete dependency and removed the react-tag-input dependency. Do i need to add the tags and suggestion thing also ?

[2020-03-10 10:28] xlogix commented on #86
Did you remove the subdependencies of the react-tag too?

Yes, find a list of most popular skills in tech (at least) to add.

[2020-03-10 10:50] imrishabh18 commented on #86
What are the sub-dependencies of the react-tag ?

[2020-03-10 11:31] xlogix commented on #86
Here you go: https://github.com/prakhar1989/react-tags

[2020-03-10 11:47] prajwal714 commented on #63
I won't be working on creating custom UI components, i have submitted a PR though using a Antd component @xlogix, if that is okay. @sohampods you can work on this if you wish.

[2020-03-12 01:17] #65 closed

[2020-03-12 01:19] xlogix commented on #63
Alright, let's see how this UI plays out. Merging

[2020-03-13 12:38] tarun-nagpal-github commented on #47
@xlogix @carrisunrio

I have added the WIKI page for "React Style guide and best practices"

https://github.com/fnplus/footsteps-app/wiki/React---Style-guide-and-best-practices

[2020-03-14 10:25] sheen404 commented on #59
TechStamp or Techway?

[2020-03-14 17:16] xlogix commented on #59
@sheen404 Techway seems like a good start. Ideally, we should think of a name that can be used as a verb.

[2020-03-16 06:54] KHMohit commented on #58
please assign me this issue

[2020-03-16 07:00] xlogix commented on #58
Assigned!

[2020-03-17 06:44] xlogix commented on #86
@imrishabh18 Any updates?

[2020-03-17 07:00] imrishabh18 commented on #86
@xlogix Hey, react-tags dependecies are these

react: ^16.3.1,
react-dnd: ^5.0.0
react-dnd-html5-backend: ^3.0.2
react-dom": ^16.3.1

If i remove them won't it affect our react app ? as there is react also included.

[2020-03-17 07:05] xlogix commented on #86
You have to remove the ones beside react & react-dom.

[2020-03-17 07:18] maxloh commented on #83
I am able to use the app now. Feel free to close this issue.

Thanks for your help :)

[2020-03-17 07:20] imrishabh18 commented on #86
When i am commit the changes it still fails the eslint check for the regex thing and i can't push the changes. What should i do ?

[2020-03-17 07:25] xlogix commented on #83
Thanks for the feedback. @praveenscience Can you add the send a PR to add a check for empty names?

[2020-03-17 07:28] xlogix commented on #86
You can add the skip/ignore flag & try to commit.

[2020-03-17 14:36] Kuljeet-123 commented on #79
@xlogix can I work on this issue.

[2020-03-18 13:02] Eshaabhasin commented on #59
How about Code-Steps?

[2020-03-19 07:49] kichloo commented on #59
@xlogix Steching can be the name. It consists of Stepping+ Tech, meaning acting as a name in tech industry and verb in the same name. You can conduct a poll on Slack from these names!

[2020-03-19 23:05] shwhite17 commented on #69
will you assign it to me?

[2020-03-20 05:02] xlogix commented on #69
Assigned!

[2020-03-21 02:08] Aman-Codes opened #101 "Add ISSUE_TEMPLATE"
@praveenscience @xlogix I am a GSSOC participant and I would like to add an issue template folder with bug_report_template.md, feature_request_template.md and pull_request_template.md
## Screenshots

### Bug Report
![bug report](https://user-images.githubusercontent.com/54680709/77220822-e8d17280-6b69-11ea-9ca4-8df3d5a8c4b2.PNG)

### Feature request
![feature request](https://user-images.githubuse

[2020-03-21 04:58] xlogix commented on #56
Thanks, everyone! I'm closing this issue now since @annu12340 sent a PR

[2020-03-21 04:58] #56 closed

[2020-03-21 14:29] #101 closed

[2020-03-21 15:18] praveenscience commented on #88
@GianCastle It's done. Thanks for offering plus if you're looking for if this is GSSoC issue, this isn't.

[2020-03-21 15:33] GianCastle commented on #88
I saw this project a 2 weeks ago, I like the idea and I'm interested in working on it as a side-project. Didn't know it was part of GSSoC, awesome!

[2020-03-21 15:34] #88 closed

[2020-03-21 16:12] praveenscience commented on #83
@xlogix It's done! #88

[2020-03-21 16:28] #83 closed

[2020-03-22 17:16] xlogix opened #106 "Show user's image & Name in public profile link"
The public profile URL doesn't have proper meta tags which show an image of the user & name while sharing on social media.

Try sharing your public profile page on WhatsApp or Telegram to test the link

[2020-03-22 17:32] xlogix opened #107 "The learning path cards on public profile page are not responsive"
**Describe the bug**
The learning path cards are not responsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'public profile page'
2. Scroll down to '....'
3. See error

**Expected behavior**
The cards should be responsive.

**Screenshots**
![Screenshot_20200322-225823](https://user-images.githubusercontent.com/16256275/77255946-0b11e000-6c91-11ea-98ac-0ec6390dd768.png)

[2020-03-23 04:03] Eshaabhasin commented on #106
I would like to work on this issue. Please assign it to me.

[2020-03-23 05:09] xlogix commented on #106
Assigned!

[2020-03-25 08:19] Suchana34 commented on #107
I would like to work on this issue. Please assign me.

[2020-03-25 08:38] xlogix commented on #107
@prajwal714 is already working on it. I'll wait for his response.

[2020-03-25 08:39] Suchana34 commented on #107
Okay, sure!

[2020-03-25 08:56] prajwal714 commented on #107
@Suchana34 go ahead with the issue. I won't be working on this for now.

[2020-03-25 09:05] xlogix commented on #107
Assigned!

[2020-03-25 09:13] Suchana34 commented on #107
I'm on it!

[2020-03-28 15:47] Suchana34 commented on #107
I have found 2 ways to solve the bug. One by using media in css, and another by adding extra lines in the react file for the mobile version. Can you suggest me which one is the best?

[2020-03-28 18:07] xlogix commented on #107
Just use whatever is being used to make the profile card responsive! That way it would be consistent too!

[2020-03-28 18:08] Suchana34 commented on #107
Okay sure, Thankyou!

[2020-03-30 07:45] Adyasha8105 commented on #74
Can you assign this task to me @xlogix ?

[2020-03-30 07:52] xlogix commented on #74
Assigned!

[2020-03-30 17:16] Akansha2202 commented on #71
Please assign me this

[2020-04-01 07:46] Adyasha8105 commented on #74
@xlogix please assign me again it is my fault?

[2020-04-01 08:18] xlogix commented on #74
Looks like you accidentally removed your assignment. I've assigned you back.

[2020-04-02 09:39] Adyasha8105 commented on #74
Actually I can't ABLE TO OPEN TH SITE.

[2020-04-02 09:59] xlogix commented on #74
Do a npm install & try again. Ping me on Slack.

[2020-04-02 19:08] shreyakapoor08 commented on #106
can i work on this issue?

[2020-04-03 08:59] xlogix commented on #106
Assigned!

[2020-04-03 18:42] roshankcjha opened #127 "Improving The Documentation of the footsteps-app"
For beginners to open source development,in order to help them understand the functioning of the project along with their intention of improving the application features as well as resolve other issues.I am intending to introduce a new issue for better documentation of the project.

[2020-04-03 23:57] aditianshu commented on #17
@xlogix  Hi, Can I work on this issue?
GSSoC '20, Thanks.

[2020-04-04 14:10] annu12340 commented on #24
Is this issue still open? Can I work on it

[2020-04-04 14:22] annu12340 commented on #25
Can I work on this issue

[2020-04-04 14:22] xlogix commented on #24
Assigned!

[2020-04-06 10:09] annu12340 commented on #49
I would like to work on this issue

[2020-04-06 15:14] xlogix commented on #49
Assigned!

[2020-04-07 17:50] iBruceW commented on #17
@xlogix can you please assign me on this issue.

[2020-04-07 18:12] xlogix commented on #17
Assigned!

[2020-04-07 19:34] xlogix commented on #86
@imrishabh18 Are you still interested in completing this?

[2020-04-07 19:38] imrishabh18 commented on #86
No, i will pass.

[2020-04-07 20:13] xlogix commented on #86
Okay...

[2020-04-07 20:53] xlogix commented on #48
Thank you all for your contributions. We have a good landing page setup. Feel free to add any changes to the page if you feel we need it. Raise an issue!

[2020-04-07 20:53] #48 closed

[2020-04-07 20:54] xlogix commented on #127
What do you think we should be adding @roshankcjha? Any suggestions would help.

[2020-04-08 11:13] arpitasahakundu commented on #74
I want to take up this issue

[2020-04-18 17:38] shreyakapoor08 commented on #86
can i do this ?

[2020-04-18 19:46] xlogix commented on #86
Sure

[2020-04-18 23:03] aditianshu commented on #52
@xlogix this issue is necessary for another issue I'm assigned for, the issue has been dormant for long, can I be assigned if it's okay?

[2020-04-19 06:04] xlogix commented on #52
Go ahead!

[2020-04-19 10:17] NVS16 commented on #74
I am interested in working on this issue if it can be taken up?

[2020-04-19 11:13] shreyakapoor08 commented on #79
Can i work on this?

[2020-04-19 12:35] xlogix commented on #79
Assigned

[2020-04-19 20:12] shwhite17 commented on #54
assign it to me, please? @NVS16

[2020-04-20 05:20] xlogix commented on #54
Assigned

[2020-04-20 06:42] aditianshu commented on #52
![image](https://user-images.githubusercontent.com/55697933/79721520-1c85f080-8300-11ea-8ddf-49012b6292b4.png)

@xlogix is this okay?

[2020-04-20 08:02] xlogix commented on #52
Can we add a Fab on the side so this button doesn't take unnecessary space?

[2020-04-20 10:56] aditianshu commented on #52
Okay, I'll check it out.

[2020-04-20 17:30] #106 closed

[2020-04-20 17:38] #74 closed

[2020-04-20 17:39] xlogix commented on #74
The issue is closed! Thank you for taking the time to think/work on this project. Unfortunately, someone else was already working on it. You can take up a new issue @NVS16

[2020-04-20 18:10] aditianshu commented on #52
![image](https://user-images.githubusercontent.com/55697933/79784724-4a9b1d00-8360-11ea-9eae-27039a02cb21.png)

FAB wasn't available in the design module, I've added a button.

[2020-04-20 18:17] xlogix commented on #52
Alright. maybe you can make it bigger and keep it on the right? Make it half-way on the card and half outside... maybe that'll look good

[2020-04-20 20:43] aditianshu commented on #52
@xlogix done!
Made a PR.

[2020-04-20 21:14] xlogix commented on #52
Can you put up a screenshot?

[2020-04-21 02:23] aditianshu commented on #52
![image](https://user-images.githubusercontent.com/55697933/79818134-aab3b280-83a4-11ea-806e-4397bde8fd77.png)
@xlogix
The tick looked out of place when below the arrow of visit website therefore it's in the extreme right. I reduced the size of the description a bit, as I had to fit it.

[2020-04-21 02:31] aditianshu commented on #52
Also, I had an issue with the checks, could you help me with it?😅

[2020-04-21 17:06] #86 closed

[2020-04-21 17:08] xlogix commented on #52
Let's move it to the top right?

[2020-04-22 08:57] shwhite17 commented on #54
how can I do, what language I have to use in this can you tell me. @xlogix

[2020-04-22 12:59] xlogix commented on #54
Ping me on Slack @shwhite17 We can discuss there

[2020-04-22 13:53] R3l3ntl3ss commented on #52
Moving it to somewhere in the top sounds good to me.

[2020-04-22 18:11] aditianshu commented on #52
![image](https://user-images.githubusercontent.com/55697933/80017740-ab5a5f00-84f2-11ea-9dcb-aa09add1b1b9.png)

@xlogix how about this? Next to the title. Looks neat.

[2020-04-23 19:58] xlogix commented on #52
Alright go-ahead. Can't think of anything better right now

[2020-04-24 01:59] xlogix commented on #52
Can you just add a green background to the icon?
![image (1)](https://user-images.githubusercontent.com/16256275/80167072-18f2b200-85fd-11ea-92b2-bf28bb446bd5.png)

Also, convert all the shadows in the page to:
- Blur: 17px
- Color: #222222
- Opacity: 9% or 11%

[2020-04-24 07:40] aditianshu commented on #52
![image](https://user-images.githubusercontent.com/55697933/80187239-e791da80-862c-11ea-87d3-03a406e56d5d.png)

Added the background and modified the shadows

[2020-04-25 21:20] #79 closed

[2020-04-25 21:23] xlogix commented on #52
Awesome @aditianshu. Have you pushed the changes in the PR you raised?

[2020-04-26 04:06] aditianshu commented on #52
I've pushed the changes in the PR

[2020-04-26 07:13] #52 closed

[2020-04-29 12:43] Rukmini-Meda commented on #51
I would like to work on this issue. Please assign this to me if its not assigned to anybody as part of GSSoC'20

[2020-04-30 08:36] xlogix commented on #51
Assigned!

[2020-05-07 08:50] Daggron opened #151 "Learning Paths are not responsive"
So i was visiting your webapp footsteps.dev and i search for react paths but in learning path i saw that the paths are not responsive i am using macbookpro 13"" model

<img width="1279" alt="Screenshot 2020-05-07 at 2 16 14 PM" src="https://user-images.githubusercontent.com/41940582/81274350-cb9b2980-906d-11ea-8eb2-47c6b579b022.png">

Would like to work on it. Please assign it to me

[2020-05-08 05:09] Ruchika30 commented on #73
Is this done ? @xlogix

[2020-05-08 05:13] Ruchika30 commented on #21
Is this done ? @xlogix

[2020-05-08 05:14] Ruchika30 commented on #19
Is this done ? Else i can work on it @xlogix

[2020-05-08 05:14] Ruchika30 commented on #17
Is this done ? Else i can work on it @xlogix

[2020-05-08 18:26] xlogix commented on #17
Assigned!

[2020-05-08 18:28] xlogix commented on #19
Assigned!

[2020-05-08 18:29] xlogix commented on #21
Assigned!

[2020-05-08 18:30] xlogix commented on #73
Assigned!

[2020-05-09 02:10] huonggiangbui commented on #25
I am not available to take this issue now. @xlogix you could assign to someone else

[2020-05-09 10:38] Tanmayi03 commented on #64
Is the issue still open? Can I work on this?

[2020-05-09 17:12] xlogix commented on #64
Assigned!

[2020-05-10 05:45] Tanmayi03 commented on #64
@xlogix the feature is already present, right? The names are clickable and they point to the public profile of the user
![Screenshot (92)](https://user-images.githubusercontent.com/45629438/81491764-66cf1180-92af-11ea-9291-e71784fe86a9.png)

[2020-05-10 05:51] xlogix commented on #64
Yes, but sometimes the name isn't clickable. It opens the card instead of going to the profile. Can you make it better? Maybe update a UI?

[2020-05-10 05:58] Tanmayi03 commented on #64
Yeah, I noticed that. I opens the card on clicking. On clicking it again, it's opening the profile. I'll try to make it better

[2020-05-11 05:35] ampsteric commented on #151
can i work on this issue

[2020-05-12 09:16] 991rajat commented on #71
Is regex is needed or should we ping it to get a response?

[2020-05-13 17:11] ramneek008 opened #153 "FAQ image is not responsive"
**Describe the bug**
FAQ image has longer background image for iphone design on the main page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'main page' in responsive design(iphone 6/7/8)
2. Scroll down to 'FAQ'
4. See error

**Expected behavior**
The background green image must adjust accordingly

**Screenshots**
![download (2)](https://user-images.githubusercontent.com/48586823/8184

[2020-05-13 17:12] ramneek008 commented on #153
I would like to work on this issue . Please assign me.

[2020-05-13 17:17] ramneek008 opened #154 "No image in About Footseps section"
**Describe the bug**
No image is visible in the About Footseps section. The borders are created but no image inside.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'main page'
2. Scroll down to 'About Footseps'
3. See error

**Expected behavior**
The image should be available in the box

**Screenshots**
![download (1)](https://user-images.githubusercontent.com/48586823/81843760-b04b85

[2020-05-13 17:18] ramneek008 commented on #154
I would like to work on this issue. Please assign me

[2020-05-14 07:44] xlogix commented on #154
Sure, go ahead!

[2020-05-14 07:47] xlogix commented on #153
Assigned!

[2020-05-14 07:49] xlogix commented on #71
just need to validate. And I think this issue is resolved.

[2020-05-14 07:50] #71 closed

[2020-05-18 20:33] pydevsg commented on #25
@annu12340 if you are willing to work , you can go ahead.

[2020-05-18 20:34] pydevsg commented on #24
@annu12340 if you need any help feel free to reach out.

[2020-05-19 16:35] hardikhere opened #157 "achievement and progress feature"
**user can not see how many paths he/she has completed and his progress in particular path**
It would be cool is user can see how much he/she has achieved and may win badge of completion of paths he/she has covered.

**solution**
we have to add information about completed paths and progress of current path in user model and have to make a separate page to show that
:)

[2020-05-19 16:44] hardikhere commented on #157
I would love to work on that

[2020-05-21 07:21] xlogix commented on #157
Hey there, we can definitely add completed paths in a separate page but maybe we can add the progress bar on the path itself

[2020-05-21 10:34] hardikhere commented on #157
![image](https://user-images.githubusercontent.com/51117080/82550737-df399c00-9b13-11ea-9c37-b12779d99644.png)

can you please tell me why I am facing this error i have been trying a lot

[2020-05-21 12:23] xlogix commented on #157
Have you followed all the instructions as expected?

[2020-05-21 12:29] hardikhere commented on #157
Yes I followed all instruction.. its saying that it is unable to find .cache/match-path.json..
I have also tried to clear my npm cache but not working

[2020-05-23 09:56] shwhite17 commented on #69
@xlogix I have done this issue but can not able to pull request.  It was not showing "pull request "
 button ![Screenshot (61)](https://user-images.githubusercontent.com/57324656/82727648-6a2fb780-9d09-11ea-89a6-1c246967b049.png)

[2020-05-23 09:56] shwhite17 commented on #69
check this and check this.

[2020-05-24 17:03] xlogix commented on #69
Since you've already started another pull request, the file changes are getting updated in the previous PR. In order to start a new PR, you'll have to create another branch and do your changes (commits) on that branch

[2020-05-26 11:37] pydevsg opened #160 "Adding GSSoC mentorship tag and logo"
Currently the README file doesn't consist of GSSoC tag and logo for which it is being selected.This issues resolves the part.

[2020-05-28 10:12] Rukmini-Meda commented on #51
@xlogix I am not able to navigate in the website as it shows an error to fill up all the details although I have filled all of them. Can you help?

[2020-05-28 10:55] xlogix commented on #51
@shreyakapoor08

[2020-05-31 11:38] huonggiangbui commented on #20
Sorry I could not solve it. Please assign to someone else

[2020-08-16 01:08] AshutoshDash1999 commented on #54
@xlogix do you want like a drop down button?

[2020-08-16 01:09] AshutoshDash1999 commented on #160
@pydevsg can you assign this issue to me?

[2020-08-16 09:22] xlogix commented on #54
No, not like that.

[2020-08-16 09:22] xlogix commented on #160
It'd done! I should close this issue

[2020-08-16 09:22] #160 closed

[2020-08-17 08:15] xlogix commented on #151
Yes, you may. Thank you for taking the initiative!

[2020-08-17 08:51] #154 closed

[2020-08-17 08:53] xlogix commented on #153
@ramneek008 Removing your assignment due to inactivity. Reach out if you'd like to take the issue

[2020-08-17 09:29] #25 closed

[2020-08-17 10:40] srishtij2000 commented on #153
I can work on this issue

[2020-08-17 10:43] srishtij2000 commented on #72
What exactly do we need to do?

[2020-08-17 10:46] srishtij2000 commented on #63
I can work on this issue

[2020-08-17 10:48] srishtij2000 commented on #24
I would like to work on this issue

[2020-08-17 10:51] xlogix commented on #63
I just realized that this has been updated in the app but it's not fully responsive to the desktop. I am going to change the label to beginner.

[2020-08-17 10:56] srishtij2000 commented on #63
Can you please brief me that what exactly I need to do I am getting a bit confused

[2020-08-17 11:27] xlogix commented on #63
It's not visible? It should be. If you wanna know how it looks like, please check the comments above. It shows up if you haven't completed your profile i.e haven't added all the social links to the profile. As soon as your profile is complete, it goes away.

Please check the code and try to fix it if it's not visible. I'll update the label based on the amount of work.

[2020-08-17 11:28] xlogix commented on #24
Assigned!

[2020-08-18 04:22] ymaheshwari1 commented on #153
I am interested in this issue.

[2020-08-18 11:19] srishtij2000 commented on #63
Okay

[2020-08-18 11:21] xlogix commented on #63
Pull the latest code as I made some changes!

[2020-08-18 16:45] avani-bit commented on #153
Hey can I work on this issue?

[2020-08-18 16:48] ramneek008 commented on #153
Sorry for the delay. Working on it. Plz reassign.

[2020-08-18 16:49] avani-bit commented on #151
Hey can I work on this issue?

[2020-08-18 16:55] xlogix commented on #157
Hey @hardikhere, can you try it now?

[2020-08-18 16:57] divanshurox commented on #151
Hey Can I work on this issue??

[2020-08-18 16:57] xlogix commented on #153
Okayy.. I am assigning to @ymaheshwari1 and @ramneek008 on this. Whoever sends the correct PR first... It'll be merged!

[2020-08-18 16:57] xlogix commented on #153
@avani-bit Sorry but I'm giving this PR to these guys since they requested it first

[2020-08-18 16:58] divanshurox commented on #73
Hey Can I work on this issue??

[2020-08-18 16:58] xlogix commented on #151
Assigned to @avani-bit. Please look into other issues in the app @divanshurox

[2020-08-18 16:59] xlogix commented on #73
Assigned!

[2020-08-19 09:47] hardikhere commented on #157
Can I try this weekend?

[2020-08-20 09:20] xlogix commented on #157
Sure

[2020-08-29 04:37] Simran-Chaudhary commented on #151
If it's not yet fixed, I'd like to work on it.

[2020-09-04 05:52] xlogix commented on #151
Assigned to @Simran-Chaudhary due to inactivity

[2020-12-17 09:51] kavyashree1903 commented on #72
@xlogix I can work on this

[2020-12-17 09:52] kavyashree1903 commented on #151
@xlogix can I work on this?

[2020-12-17 09:59] xlogix commented on #72
Sure!

[2020-12-17 10:00] xlogix commented on #151
Sure!

[2021-01-23 12:24] bhargavgohil25 opened #175 "Error in npm install"
**Describe the bug**
A clear and concise description of what the bug is.

getting so many error like this
[code]